
# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache
*.py[cod]
*$py.class
dist/

# Environments
.env
.testenv

# Terraform
.terraform*
*.tfstate*
resources/terraform/

# Helm
raise_me/resources/helm/

# Pulumi
pulumi/

# NodeJS
node_modules/
package.json
package-lock.json